body {
    text-align: center;
    font-size: 16px;
    border-style: solid;
    border-width: 5px;
    background-color: rgb(197, 167, 211);
}

.title1 {
    h1 {
        color: rgb(191, 96, 255);
    }

    border-style: solid;
    border-width: 5px;
}

.fråga1 {

    
    h1 {
        color: rgb(170, 19, 19);

    }

    h2 {
        color: rgb(34, 17, 184);
    }

    margin-bottom: 20px;
color: rgb(224, 14, 144);
}

.fråga2 {
h1 {
    color: rgb(170, 19, 19);
}
h2 {
    color: rgb(34, 17, 184);
}
color: rgb(224, 14, 144);

    margin-bottom: 20px;
}

.färg {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.fråga3 {
    h1 {
        color: rgb(170, 19, 19);
    }
    h2 {
        color: rgb(34, 17, 184);
    }
    color: rgb(224, 14, 144);
}

.fråga4 {
    h1 {
        color: rgb(170, 19, 19);
    }
    h2 {
        color: rgb(34, 17, 184);
    }
    color: rgb(224, 14, 144);


    select {
        width: 50%;
        height: 100px;

        select text {
            font-size: 16px;
        }
    }
}
.fråga5 {
    h1 {
        color: rgb(170, 19, 19);
    }
    h2 {
        color: rgb(34, 17, 184);
    }
    color: rgb(224, 14, 144);
}

.image-container {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150%;
    margin: 100px;
    color: rgb(224, 14, 144);

}



.image-one {
    width: 300px;
    height: 300px;


}

.image-two {
    width: 300px;
    height: 300px;

}

.image-three {
    width: 300px;
    height: 300px;
}

.image-four {
    width: 300px;
    height: 300px;

}

.karaktär1 {
    width: 300px;
    height: 300px;
    flex-direction: row
}

.karaktär2 {
    width: 300px;
    height: 300px;
    flex-direction: row
}

.karaktär3 {
    width: 300px;
    height: 300px;
    flex-direction: row
}

.karaktär4 {
    width: 300px;
    height: 300px;
    flex-direction: row
}